main {
    display: flex;
    flex-direction: column;
}

.cities-container, .landmarks-container, .leaders-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: center */
}

.list-items {
    width: 50%; 
} 

.pictures {
    width: 50%;
}

.list-picture {
    max-width: 100%;
    height: auto;
}

/* .entryComp {
    display: flex;
} */

/* .list-picture {
    height: 100%;
    max-width: fit-content;
}
main {
    display: flex;
    flex-direction: column;
}

.cities-container, .landmarks-container, .leaders-container  {
    display: flex;
 
    width: 100%;
    
    justify-content: center
}