nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #29449b;
    padding: 0;
    width: auto;
    justify-content: center;
    height: 2em;
}

.navActiveItem {
    background-color: #92921e;
}

.bannerDiv {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 2vw;
}

.bannerImage {
    max-width: 100%;
    max-height: 800px;
}

.countryText {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    padding-top: 135px;
    color: white;
    text-shadow: 3px 3px black;
}

.container {
    display: flex;
    flex-direction: column;
}

.cities,
.landmarks,
.leaders,
.pictures {
    display: flex;
    flex-direction: row;
    width: 75%;
    max-height: 425px;
    justify-content: center
}

.pictures {
    width: 20%
}

.list-picture {
    height: 100%;
}

.list-items {
    background-color: aqua;
}

.landmarks {
    background-color: chocolate;
}

.leaders {
    background-color: rgb(144, 168, 112);
}

footer {
    background: rgb(223, 178, 157);
    height: 1em;
    margin-top: 10px;
    padding: 10px;
}